# TechLabs Notebook | Pandas DataFrame Practice
![#f03c15](https://via.placeholder.com/800x10/f03c15/0000000000?text=+) 

## Welcome Techi !

In this notebook you are going to practice your newly acquired Pandas skills. Go through the notebook and complete the task which are labeled as **TODO**.

It is possible that you encounter Pandas function here which weren't mentioned in the video materials. This in on purpose so that you get into the habit of googling and using stackoverflow as well as the Numpy documentation to find your answers.

Have fun :)

### Credit
This notebook is based on the **Data Analysis with Python - Full Course for Beginners** tutorial and the practice exercises provided by FreeCodeCamp and RMOTR here the link to the complete tutorial https://www.youtube.com/watch?v=r-uOLxNrNk8. 

### Learning Path

In this notebook you will practice the following Pandas skills:
1. DataFrame creation
2. DataFrame indexation
3. DataFrame manipulation
4. DataFrame boolean arrays
5. DataFrame statistics
6. DataFrame basic plots

## Let's start

Let's first import NumPy and Pandas.

In [ ]:
import numpy as np
import pandas as pd

![#f03c15](https://via.placeholder.com/800x10/f03c15/0000000000?text=+) 
### DataFrame creation

In this section your are going to practice the creation of Pandas DataFrames.

**TODO**: Create an empty pandas DataFrame

In [ ]:
# your code goes here

<img width=400 src="https://cdn.dribbble.com/users/4678/screenshots/1986600/avengers.png"></img>

**TODO**: Create a marvel_df pandas DataFrame with the given marvel data

In [ ]:
marvel_data = [
    ['Spider-Man', 'male', 1962],
    ['Captain America', 'male', 1941],
    ['Wolverine', 'male', 1974],
    ['Iron Man', 'male', 1963],
    ['Thor', 'male', 1963],
    ['Thing', 'male', 1961],
    ['Mister Fantastic', 'male', 1961],
    ['Hulk', 'male', 1962],
    ['Beast', 'male', 1963],
    ['Invisible Woman', 'female', 1961],
    ['Storm', 'female', 1975],
    ['Namor', 'male', 1939],
    ['Hawkeye', 'male', 1964],
    ['Daredevil', 'male', 1964],
    ['Doctor Strange', 'male', 1963],
    ['Hank Pym', 'male', 1962],
    ['Scarlet Witch', 'female', 1964],
    ['Wasp', 'female', 1963],
    ['Black Widow', 'female', 1964],
    ['Vision', 'male', 1968]
]

# your code goes here
marvel_df = ...

marvel_df

**TODO**: Add column names to the marvel_df

In [ ]:
col_names = ['name', 'sex', 'first_appearance']

# your code goes here
...
marvel_df

**TODO**: Set the names of the marvel characters as index

In [ ]:
# your code goes here
...
marvel_df

**TODO**: Drop the name column as it's now the index

In [ ]:
# your code goes here
...
marvel_df

**TODO**: Drop 'Namor' and 'Hank Pym' rows

In [ ]:
# your code goes here
...
marvel_df

![#f03c15](https://via.placeholder.com/800x10/f03c15/0000000000?text=+) 
### DataFrame indexation

In this section your are going to practice the slicing of Pandas DataFrames.

**TODO**: Show the first 5 elements on marvel_df

In [ ]:
# your code goes here

**TODO**: Show the last 5 elements on marvel_df

In [ ]:
# your code goes here

**TODO**: Show just the sex of the first 5 elements on marvel_df

In [ ]:
# your code goes here

**TODO**: Show the first_appearance of all middle elements on marvel_df

In [ ]:
# your code goes here

**TODO**: Show the first and last elements on marvel_df

In [ ]:
# your code goes here

![#f03c15](https://via.placeholder.com/800x10/f03c15/0000000000?text=+) 
### DataFrame manipulation

In this section your are going to manipulate Pandas DataFrames.

**TODO**: Modify the first_appearance of 'Vision' to year 1964

In [ ]:
# your code goes here
...
marvel_df

**TODO**: Add a new column to marvel_df called 'years_since' with the amount of years since first_appearance to 2020

In [ ]:
# your code goes here
...
marvel_df

![#f03c15](https://via.placeholder.com/800x10/f03c15/0000000000?text=+) 
### DataFrame boolean arrays

In this section your are going to filter Pandas DataFrames using mask filters.

**TODO**: Given the marvel_df pandas DataFrame, only get the female characters

In [ ]:
# your code goes here

**TODO**: Given the marvel_df pandas DataFrame, get the male characters

In [ ]:
# your code goes here

**TODO**: Given the marvel_df pandas DataFrame, get the characters with first_appearance after 1970

In [ ]:
# your code goes here

**TODO**: Given the marvel_df pandas DataFrame, get the female characters with first_appearance after 1970

In [ ]:
# your code goes here

![#f03c15](https://via.placeholder.com/800x10/f03c15/0000000000?text=+) 
### DataFrame statistics

In this section your are going to calculate some statistics using Pandas DataFrames.

**TODO**: Show basic statistics of marvel_df

In [ ]:
# your code goes here

**TODO**: Given the marvel_df pandas DataFrame, show the mean value of first_appearance

In [ ]:
# your code goes here

**TODO**: Given the marvel_df pandas DataFrame, show the min value of first_appearance

In [ ]:
# your code goes here

**TODO**: Given the marvel_df pandas DataFrame, get the characters with the min value of first_appearance

In [ ]:
# your code goes here

![#f03c15](https://via.placeholder.com/800x10/f03c15/0000000000?text=+) 
### DataFrame basic plottings

In this section your are going to make some plots using Pandas DataFrames.

**TODO**: Reset index names of marvel_df (Transfrom the index with the names into a column).

In [ ]:
# your code goes here
...
marvel_df

**TODO**: Plot the values of first_appearance

In [ ]:
# your code goes here

**TODO**: Plot a histogram with values of first_appearance

In [ ]:
# your code goes here

![#f03c15](https://via.placeholder.com/800x10/f03c15/0000000000?text=+) 
## Congratulations

You reached the end of the Pandas notebook practice. Now you should be well prepared to tackle most of the Pandas dataframe problems that come your way.