# TechLabs Notebook | Pandas Series Practice
![#f03c15](https://via.placeholder.com/800x10/f03c15/0000000000?text=+) 

## Welcome Techi !

In this notebook you are going to practice your newly acquired Pandas skills. Go through the notebook and complete the task which are labeled as **TODO**.

It is possible that you encounter Pandas function here which weren't mentioned in the video materials. This in on purpose so that you get into the habit of googling and using stackoverflow as well as the Numpy documentation to find your answers.

Have fun :)

### Credit
This notebook is based on the **Data Analysis with Python - Full Course for Beginners** tutorial and the practice exercises provided by FreeCodeCamp and RMOTR here the link to the complete tutorial https://www.youtube.com/watch?v=r-uOLxNrNk8. 

### Learning Path

In this notebook you will practice the following Pandas skills:
1. Series creation
2. Series indexation
3. Series manipulation
4. Series boolean arrays
5. Series statistics

## Let's start

Let's first import NumPy and Pandas.

In [1]:
import numpy as np
import pandas as pd

![#f03c15](https://via.placeholder.com/800x10/f03c15/0000000000?text=+) 
### Series creation

In this section your are going to practice the creation of Pandas series.

**TODO**: Create an empty pandas Series

In [2]:
# your code goes here
pd.Series()

Series([], dtype: float64)

**TODO**: Given the X python list convert it to an Y pandas Series

In [3]:
X = ['A','B','C']
print(X, type(X))

# your code goes here
Y = pd.Series(X)
print(Y, type(Y))

['A', 'B', 'C'] <class 'list'>
0    A
1    B
2    C
dtype: object <class 'pandas.core.series.Series'>

**TODO**: Given the X pandas Series, name it 'My letters'

In [4]:
X = pd.Series(['A','B','C'])

# your code goes here
X.name = 'My letters'
X

0    A
1    B
2    C
Name: My letters, dtype: object

**TODO**: Given the X pandas Series, show its values

In [5]:
X = pd.Series(['A','B','C'])

# your code goes here
X.values

array(['A', 'B', 'C'], dtype=object)

![#f03c15](https://via.placeholder.com/800x10/f03c15/0000000000?text=+) 
### Series indexation

In this section your are going to practice the slicing of Pandas series.

**TODO**: Assign index names to the given X pandas Series

In [6]:
X = pd.Series(['A','B','C'])
index_names = ['first', 'second', 'third']

# your code goes here
X.index = index_names
X

first     A
second    B
third     C
dtype: object

**TODO**: Given the X pandas Series, show its first element

In [7]:
X = pd.Series(['A','B','C'], index=['first', 'second', 'third'])

# your code goes here
X.iloc[0]
X['first']

'A'

**TODO**: Given the X pandas Series, show its last element

In [8]:
X = pd.Series(['A','B','C'], index=['first', 'second', 'third'])

# your code goes here
X.iloc[-1]
X['third']

'C'

**TODO**: Given the X pandas Series, show all middle element

In [9]:
X = pd.Series(['A','B','C','D','E'],
              index=['first','second','third','forth','fifth'])

# your code goes here
X.iloc[1:-1]

second    B
third     C
forth     D
dtype: object

**TODO**: Given the X pandas Series, show the first and last element

In [10]:
X = pd.Series(['A','B','C','D','E'],
              index=['first','second','third','forth','fifth'])

# your code goes here
X.iloc[[0, -1]]

first    A
fifth    E
dtype: object

**TODO**: Given the X pandas Series, show the elements in reverse position

In [11]:
X = pd.Series(['A','B','C','D','E'],
              index=['first','second','third','forth','fifth'])

# your code goes here
X.iloc[::-1]

fifth     E
forth     D
third     C
second    B
first     A
dtype: object

![#f03c15](https://via.placeholder.com/800x10/f03c15/0000000000?text=+) 
### Series manipulation

In this section your are going to manipulate Pandas series.

**TODO**: Convert the given integer pandas Series to float

In [12]:
X = pd.Series([1,2,3,4,5],
              index=['first','second','third','forth','fifth'])

# your code goes here
X.astype(np.float)

first     1.0
second    2.0
third     3.0
forth     4.0
fifth     5.0
dtype: float64

**TODO**: Order (sort) the given pandas Series

In [13]:
X = pd.Series([4,2,5,1,3],
              index=['forth','second','fifth','first','third'])

# your code goes here
X = X.sort_values()
X

first     1
second    2
third     3
forth     4
fifth     5
dtype: int64

**TODO**: Given the X pandas Series, set the fifth element equal to 10

In [14]:
X = pd.Series([1,2,3,4,5],
              index=['A','B','C','D','E'])

# your code goes here
X[4] = 10
X

A     1
B     2
C     3
D     4
E    10
dtype: int64

**TODO**: Given the X pandas Series, change all the middle elements to 0

In [15]:
X = pd.Series([1,2,3,4,5],
              index=['A','B','C','D','E'])

# your code goes here
X.iloc[1:-1] = 0
X

A    1
B    0
C    0
D    0
E    5
dtype: int64

**TODO**: Given the X pandas Series, add 5 to every element

In [16]:
X = pd.Series([1,2,3,4,5])

# your code goes here
X + 5

0     6
1     7
2     8
3     9
4    10
dtype: int64

![#f03c15](https://via.placeholder.com/800x10/f03c15/0000000000?text=+) 
### Series boolean arrays

In this section your are going to filter Pandas series using mask filters.

**TODO**: Given the X pandas Series, make a mask and only select negative elements

In [17]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

# your code goes here
mask = X < 0
X[mask]

0   -1
3   -4
8   -9
dtype: int64

**TODO**: Given the X pandas Series, get numbers higher than 5

In [18]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

# your code goes here
mask = X > 5
X[mask]

5     6
9    10
dtype: int64

**TODO**: Given the X pandas Series, get numbers higher than the elements mean

In [19]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

# your code goes here
mask = X > X.mean()
X[mask]

1     2
4     5
5     6
9    10
dtype: int64

**TODO**: Given the X pandas Series, get numbers equal to 2 or 10

In [20]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

# your code goes here
mask = (X == 2) | (X == 10)
X[mask]

1     2
9    10
dtype: int64

![#f03c15](https://via.placeholder.com/800x10/f03c15/0000000000?text=+) 
### Series statistics

In this section your are going to calculate some statistics using Pandas series.

**TODO**: Given the X pandas Series, show the sum of its elements

In [21]:
X = pd.Series([3,5,6,7,2,3,4,9,4])

# your code goes here
X.sum()

43

**TODO**: Given the X pandas Series, show the mean value of its elements

In [22]:
X = pd.Series([1,2,0,4,5,6,0,0,9,10])

# your code goes here
X.mean()

3.7

**TODO**: Given the X pandas Series, show the max value of its elements

In [23]:
X = pd.Series([1,2,0,4,5,6,0,0,9,10])

# your code goes here
X.max()

10

![#f03c15](https://via.placeholder.com/800x10/f03c15/0000000000?text=+) 
## Congratulations

You reached the end of the Pandas notebook practice. Now you should be well prepared to tackle most of the Pandas series problems that come your way.